name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up build environment
      run: sudo apt-get install -y build-essential libsfml-dev libgtest-dev
      
    - name: Build project
      run: make
      
    - name: Run Google Test
      run: make test
